// Wrapper styles
.wrapper {
    max-width: 1200px;
    // max-width: 100%;
    @include margin-center;
    background-color: $wrapper-bg-color;
    // background-color: black;
    #abbas{
        border-radius: 0px;
    }
}

.wrapper-lessons {
    max-width: 1200px;
    @include margin-center;
    background-color: $wrapper-bgcolor-blue;  
}